<nav class="container">
    <ul>
      <li><strong>Razas de Perros</strong></li>
    </ul>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/new-image">Añadir Imagen</a></li>
    </ul>
  </nav>
  