<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir una nueva imagen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <!-- Carga el fichero partials/navbar.ejs -->
    <%- include('./partials/navbar') %>

        <h1 class="container">Añadir una nueva imagen</h1>
        <form class="container form-card" action="/new-image" method="post">

            <label for="title">Título:</label>
            <input type="text" name="title" id="title" maxlength="30" pattern="[A-Za-z0-9_ ]+" required>
            <small style="color: #b2afaf;">
                La descripción será generada automáticamente por IA según el título ingresado.
            </small>


            <label for="url">URL de la imagen: </label>
            <input type="url" name="url" id="url" required>

            <label for="date">Fecha: </label>
            <input type="date" name="date" id="date" required min="1900-01-01"
                max="<%= new Date().toISOString().split('T')[0] %>">

            <button type="submit" class="form-submit">Añadir Foto</button>
        </form>

        <% if (message) { %>
            <section>
                <p>
                    <%= message %>
                </p>
                <% if (typeof description !=='undefined' && description) { %>
                    <p><strong>Descripción generada:</strong> <em>
                            <%= description %>
                        </em></p>
                    <% } %>
            </section>
            <% } %>

</body>

</html>