<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir una nueva imagen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <!-- Carga el fichero partials/navbar.ejs -->
    <%- include('./partials/navbar') %>

        <h1>Añadir una nueva imagen</h1>
        <form class="container" action="/new-image" method="post">
            <label for="title">Título: </label>
            <input type="text" name="title" id="title" maxlength="30" pattern="[A-Za-z0-9_ ]+" required>

            <label for="url">URL: </label>
            <input type="url" name="url" id="url" required>

            <label for="date">Fecha: </label>
            <input type="date" name="date" id="date" required>

            <input type="submit" value="Añadir Foto">
        </form>

        <% if (message) { %>
            <section>
                <p>
                    <%= message %>
                </p>
            </section>
            <% } %>
</body>

</html>